html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

* {
    padding: 0;
    margin: 0;
}

:root {
    --blue: rgb(170, 194, 214);
}

body {
    background-color: rgb(117, 129, 140);
    color: beige;
    font-size: clamp(1rem, 0.75rem + 1vw, 1.4rem);

}

h1 {
    text-align: center;
    font-size: clamp(1.5rem, 1rem + 1.5vw, 2.5rem);
    margin: .7em 10px 1em;
}


/*--5----------General From Styles------------*/
div.form-field {
    display: flex;
    align-items: center;
    gap: 15px;
    width: max(500px, 60%);
    min-height: 2.3em;
    margin: 20px auto;
    position: relative; /*To display requried text right above input */
}

input {
    background-color: var(--blue);
    font-size: 100%;
    font-family: inherit;
    width: 100%;
    border-radius: 10px;
    padding: 5px;
    outline: none;
    letter-spacing: 0.03em;
}

label {
    width: min(100px, 5em);
    /*Prevnet flexbox form shrinking the width of the labels*/
    flex: none; 
}

span.required-label {
    font-size: 16px;
    background-color: orangered;
    color: white;
    position: absolute;
    top: -10px;
    right: -25px;
    padding: 2px;
}

input:hover {
    box-shadow: 2px 2px 3px 2px rgb(91, 97, 97);
}

input:focus {
    box-shadow: none;
    outline: 2px solid navy;
}

button {
    font-size: 85%;
    display: block;
    padding: 5px 10px;
    margin: auto;
    border-radius: 10px;
}

button:hover {
    background-color: var(--blue);
    cursor: pointer;
}

